#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#card-maker {
  display: flex;
}

#inputs {
  margin-left: 50px;
}

input {
  background: white;
  border: 2px solid #fcba03;
  padding: 10px;
  margin-top: 20px;
  color: black;
}
