#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 450px;
}


#card-maker {
  display: flex;
}

#inputs {
  margin-left: 50px;
  width: 250px;
}

#inputs a {
  display: block;
}

#inputs a.share:hover {
  text-decoration: underline;
}

input {
  background: white;
  border: 2px solid #fcba03;
  padding: 10px;
  margin-top: 10px;
  color: black;
}

#buy {
  font-size: 69px;
}
#buy:hover {
  text-decoration: underline;
}


#connect-wallet, #buy {
  color: white;
  background-color: #fcba03;
  font-size: 69px;
  padding: 20px;
  border-radius: 10px;
}

#connect-wallet:hover, #buy:hover, .download:hover {
  color: white;
  background-color: #ffcc3d;
}

.download {
  background-color: #fcba03;
  padding: 5px;
  color: white;
  display: inline-block;
  margin-top: 20px;
}

#root-link {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  color: #dea300;
}

#root-link:hover {
  text-decoration: underline;
}

#root-link img {
  width: 150px;
  display: block;
}


input::file-selector-button {
  background-color: #fcba03;
  color: white;
  border: none;
  padding: 10px;
}

input::file-selector-button:hover {
  background-color: #ffcc3d;
}

input {
  width: 180px;
}

footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

footer a {
  color: #fcba03;
}

footer a:hover {
  color: #ffcc3d;
  text-decoration: underline;
}
